/* NavBar.css */

.web_site_title{
  margin-left: 8px;
  font-family: 'Exo 2', sans-serif;
}

.navbar {
    background-color: #333; /* Set the background color to a dark color */
    color: white; /* Set text color to white */
    padding: 10px 0; /* Add padding to the top and bottom */
  }
  
  .navbar-list {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0;
    display: flex;
    justify-content: center; /* Center the list horizontally */
  }
  
  .navbar-item {
    margin: 0 20px; /* Add some spacing between list items */
  }
  
  .navbar-item a {
    text-decoration: none; /* Remove underlines from links */
    color: white; /* Set link text color to white */
    font-weight: bold; /* Make the link text bold */
    font-size: 18px; /* Adjust the font size */
    transition: color 0.3s; /* Add a smooth color transition on hover */
  
    /* Optional: Add hover effect */
    &:hover {
      color: #f1c40f; /* Change the text color on hover */
    }
  }
  
/* Add this rule to make the text yellow for active links */
.nav-link.active {
  color: yellow !important; /* Make sure the active link's color overrides other styles */
}
